## Include overrides

# WoW .toc
ClippyAssist/*.toc linguist-detectable

# WoW UI XML
ClippyAssist/*.xml linguist-detectable

## Vendored code

# WoW FrameXML code
FrameXML/* linguist-vendored

# External addon libraries
ClippyAssist/Libs/* linguist-vendored

# Clippy.js
raw/* linuist-vendored
convert/* linguist-vendored
